.form {
    width: 35%;
    height: auto;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -28%);
}

.form div {
    margin: 5px;
}

.form input {
    display: block;
    width: 80%;
    height: 3em;
    margin-top: 8px;
    padding: 0px 6px;
}

.btn {
    width: 30%;
    height: 3.5em;
    margin-top: 10px;
    border-radius: 15px;
    background-color: #97DECE;
    border: none;
    transition: all 0.8s ease-in-out;
    font-size: 1em;
}

.btn:hover {
    background-color: #439A97;
}

a {
    text-decoration: none;
    color: #439A97;
}

.toggle{
    display: flex;
}